@model IEnumerable<Saloon.Models.Expense>

@{
    ViewBag.Title = "Expense";
    if (Session["Admin"] == null)
    {
        Response.Redirect("~/Admin/Index");
    }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <form action="~/Admin/AddExpense" method="get" style="position:relative; left:20px" >
        <button type="submit">Add Expense</button>
    </form>
    <form action="~/Admin/SearchDetails" method="get"style="position:relative; left:20px">
        <br />
        <input type="text" name="name" /><input type="submit" value="Search" name="Search" />
        <br />
        <p><input type="radio" value="ecid" name="ecid" />Search by Expense Categories &nbsp;&nbsp;&nbsp;
        <input type="radio" value="expname" name="expname" />Search by Expense Name</></p>
        
        <br />
    </form>
</div>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.EC_Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Add_By)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EC_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Add_By)
        </td>
        <td>
            @Html.ActionLink("Update", "UpdateExpense", new {  a=item.E_ID }) |
            @Html.ActionLink("Delete", "DeleteExpense", new {  a=item.E_ID })
        </td>
    </tr>
}

</table>
