@model IEnumerable<Saloon.Models.Facilities>

@{
    ViewBag.Title = "Facilities";
    if (Session["Admin"] == null)
    {
        Response.Redirect("~/Admin/Index");
    }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form action="~/Admin/AddFacilities" method="get" style="position:relative; left:20px">
    <button type="submit">Add Facilities</button>
</form>
<br />
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.F_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.F_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.F_Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateFacilities", new {  a =item.F_ID }) |
            @Html.ActionLink("Delete", "DeleteFacilities", new {  a =item.F_ID  })
        </td>
    </tr>
}

</table>
